body {
    background-color: #50b0ff;
}

.head {
    background-color: #3c84bf;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%, rgb(80, 176, 255, 1) 100%), url(images/lines.png);
    background-repeat: repeat, repeat;
    background-size: 75px, 150px;
}
